@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=MedievalSharp&display=swap');

body {
    background-color: #af3838;
}

.containerOuter {
    background-color: #a31919;
    width: 70vw;
    height: 98vh;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 8px black,
                8px 10px 10px #ec5d5d,
                -10px -10px 20px black;
    margin: auto;
}

.containerInner {
    background-color: #737874;
    width: 56vw;
    height: 80vh;
    border-radius: 40px;
    margin-bottom: 1%;
    box-shadow: inset 0px 0px 15px 10px rgba(0,0,0,0.9),
                2px 2px 5px black;
}

img {
    width: 6.510416666666667vw;
}

.imgContainer {
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.btnContainer {
    display: flex;
    flex-direction: column;
}

.controls {
    width: 97.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftControls {
    height: 95%;
    width: 40%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px 0px 30px;
}

.gridContainer {
    display: grid;
    width: 57vw;
    height: 70vh;
    border: 8px double black; 
    border-radius: 40px;
    padding: 10px;
}

button {
    margin: 5px 5px 5px 0;
    display: inline-block;
    background-color: #a31919;
    border-radius: 8px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #ec5d5d;
    box-shadow: 0 0px 10px black;
}

label {
    font-size: 18px;
    margin-left: 5px;
}

.labels {
    display: flex;
    flex-direction: column;
    margin: 10px 5px 5px 0;
}

.slider {
    margin: 0 10px 5px 0;
}

.checkbox {
    margin: 0 10px 5px 0;
}

.brushColor {
    margin-bottom: 5px;
}

.bgColor {
    margin-top: 5px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
    padding: 0;
}

span {
    font-family: 'Lavishly Yours', cursive;
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: bold;
    background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 30%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
    color:transparent;
    -webkit-background-clip:text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.grid {
    border: 1px solid black;
}

.noGrid {
    border: none;
}

.rgb {
    background-color: #a31919;
    border-radius: 8px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

.rgb:hover{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}